* {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}


/* toda la pantalla */
.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background-image: url("../img/Frame\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    gap: 50px;
}

/* parte derecha */

.content{
    display: flex;
    width: 89%;
    height: 95%;
    background-color: white;
    border-radius: 20px;
}
